.content_myplaces {
    width: 100%;

    .list-item {
        .item {

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0.625rem;
            min-height: 2rem;
            align-items: center;

            .item__content {
                display: flex;
                flex-direction: column;
            }

            span {
                .i-feature-item-text {
                    flex-shrink: 0;
                    margin-top: -1px;
                    width: 1.825rem;
                    height: 1.825rem;
                    padding-right: 0.625rem;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: #efefef;
            }
        }
    }

}