.field-checkbox {
    margin-bottom: 6px !important;
    label {
        margin: 0 !important;
        margin-left: 10px !important;
        font-size: var(--fontSize) !important;
        color: #000000a6;
    }
    .p-checkbox {
        .p-checkbox-box.p-highlight {
            border-color: var(--maintColor) !important;
            background: var(--maintColor) !important;
        }

        .p-checkbox-box.p-highlight {
            border-color: var(--maintColor) !important;
            background: var(--maintColor) !important;
        }

        &:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
            border-color: var(--maintColor) !important;
            background: var(--maintColor) !important;
        }
    }

   
}

.block-1 {
    .contentBlock { 
        .listCheckboxKVHC {
            padding-left: 15px;
        }
    }

}