// Slider 
// Label
.style-opacity-label {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 12px !important;
    color: var(--textColor) !important;
    margin-top: 10px !important;
}

.p-slider .p-slider-range {
    background: var(--mainSubColor) !important;
}