.iconBack {
    cursor: pointer;
    padding: 0 10px;
    height: 100%;
    display: inline-block;

    :hover {
        opacity: 0.8;
    }
}

.header__title {
    .header__subtitle {
        font-size: 8pt;
        font-weight: 400;
        position: relative;
        left: 0.2rem;
    }
}