.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    outline: 0 !important;
    box-shadow: 0 0 0 2px var(--boxShadowColor) !important;
    border-color: #188fff33 !important;
}
 
.p-inputtext {
    border: 1px solid var(--mainSubColor) !important;
    padding: 0.137rem 0.75rem !important;
    font-size: var(--fontSize) !important; 
}