.p-multiselect {
    width: 100% !important;
    border: 1px solid var(--mainSubColor) !important;
    .p-multiselect-label.p-placeholder {
        padding: 0.2rem 0.75rem !important;

    }

    &:not(.p-disabled):hover {
        outline: 0 !important;
        box-shadow: 0 0 0 2px var(--boxShadowColor) !important;
        border-color: var(--boxShadowColor) !important;
    }
}

.p-multiselect-panel {
    .p-multiselect-header {
        padding: 0.2rem 1.25rem !important;
    }

    .p-multiselect-items {
        padding: 0.3rem 0 !important;

        .p-multiselect-item {
            padding: 0.2rem 1.25rem !important;
            &:not(.p-highlight):not(.p-disabled):hover {
                background-color: var(--mainSubColor) !important;
                color: var(--textColor) !important;
                font-weight: 600 !important;
            }

            &:focus {
                box-shadow: inset 0 0 0 0.15rem var(--mainSubColor);
            }
        }

        .p-multiselect-item.p-highlight {
            background-color: var(--mainSubColor) !important;
            color: var(--textColor) !important;
            font-weight: 500 !important;
        }
    }
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
    font-size: var(--fontSize) !important;
    padding: 0 0.5rem !important;
    color: var(--textColor) !important;
    background-color: var(--mainSubColor) !important;
}
