

.datascroller-file {
    .product-item {
        display: -moz-box;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        padding: 1rem;
        width: 100%;

        img {
            width: 60px;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem
        }

        .product-detail {
            flex: 1 1;
            padding-right: 30px;
        }

        .product-action {
            display: -moz-box;
            display: flex;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            flex-direction: column;
        
            a {
                border: 1px solid #4caf50;
                border-radius: 50%;
                padding: 0.2rem 0.3rem;
                color: #4caf50;
            }
        }
    }

    .product-name {
        font-size: 14px;
        font-weight: 700;
    }

    .product-description {
        margin: 0 0 1rem;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: 0.5rem;
        font-size: 12px;
    }

    .product-category {
        font-weight: 600;
        vertical-align: middle;
        font-size: 12px;
    }
}