.appQHSDD {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    background: #fff;
    border-radius: 8px;

    .banDoQuyHoach {
        border-bottom: 2px solid;
        padding-bottom: 15px;
        border-color: #abcdef;

        .titleRow {
            padding-left: 15px;
        }
    }

    .titleRow {
        font-size: 18px;
        font-weight: 600;
        color: var(--maintColor);
        padding-bottom: 15px;
    }

    .rowXemThongTinQH {
        padding-left: 15px;
        padding-top: 10px;

        .menu-chucnang {
            .tab-content {
                padding-top: 15px;
            }
        }
    }

    .rowQHSDD {
        // margin-top: 10px;
    }

    .rowHTSDD {
        margin-top: 5px;
    }

    .div-btn {
        width: 100%;
        height: 100%;
        position: relative;

        .btn-menu {
            position: absolute;
            bottom: 0;
            left: 0;

            .btn-layer {
                margin-right: 3px;
            }

            .btn-opacity {
                margin-left: 3px;
                margin-right: 3px;
            }

            .btn-file {
                margin-left: 3px;
            }
        }
    }
}