$form-control-header-height: 115px;
$form-control-footer-height: 60px;

.app-search-by-attributes {
    background-color: #ffffff;

    .p-tabview {
        height: inherit;
    }

    .p-tabview .p-tabview-panels {
        height: calc(100% - 58px);
        border-radius: 0px;
        padding: 0px;
    }

    .form-control-header {
        position: absolute;
        height: $form-control-header-height;
        top: 0px;
        left: 0px;
        right: 0px;
        box-shadow: 0px 0px 5px 0px;
    }

    .form-control-body {
        position: absolute;
        top: $form-control-header-height + 3px;
        bottom: $form-control-footer-height;
        left: 0px;
        right: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .form-control-footer {
        position: absolute;
        bottom: 0px;
        height: $form-control-footer-height;
        left: 0px;
        right: 0px;
        box-shadow: 0px 0px 5px 0px;
    }
}