@import url("primeicons/primeicons.css"); //icons


// .esri-popup--is-docked-top-right .esri-popup__main-container {
//     height: 100%;
// }


.indoor__panel_item {
    background-color: #fff !important;
}

.indoor__panel {
    height: 100%;
    background-color: #0079c1;
    display: flex;
    flex-direction: column;

    .indoor__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #b8b8b8;
        padding: 0.4rem 0.2rem;

        .header__caption {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0.2rem;
            font-size: 16px;
            font-weight: 500;


            .header__btnclose {
                display: none;
            }

            .header__btnclose_detail {
                position: absolute;
                right: 0;
                padding: 0 10px;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 20pt;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .color_title {
            color: #ffffff;
        }

        .color_title_detail {
            color: #4c4c4c;
        }
    }

    .indoor__content {
        display: flex;
        flex-direction: row;
        overflow: auto;
        padding: 30px 15px;

        ul {
            list-style: none;
            padding-left: 10px;
        }

        .content_explore {
            width: 100%;

            .i-categories {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 90%;
                padding: 0;
                margin: auto;
                font-size: .9375rem;
                line-height: 1.5;
                list-style: none;

                li {
                    text-align: center;
                    width: 33.33333%;

                    &:hover {
                        cursor: pointer;

                        img {
                            opacity: 0.8;
                        }
                    }

                    span {
                        display: inline-block;
                        width: 5rem;
                        height: 7rem;
                        padding: 0.165rem;
                        text-align: center;
                        text-decoration: none;
                        color: #4c4c4c;

                        img {
                            width: 2.8rem;
                            height: 2.8rem;
                        }
                    }
                }
            }
        }

        .indoor__category {
            list-style-type: none;
            margin: 0;
            padding: 0 10px;
            width: 100%;

            .category__item {
                margin: 0;
                padding: 0;
                cursor: pointer;

                &:hover {
                    background-color: #efefef;
                }

                .category__item-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.8rem 0.4rem;

                    .category__item-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;

                        .category__item-icon {
                            flex-shrink: 0;
                            margin-top: 2px;
                            width: 1.2rem;
                            height: 1.2rem;
                        }

                        .category__item-text {
                            margin-left: 0.5rem;

                            .category__item-title {
                                display: block;
                                font-size: .833rem;
                                position: relative;
                                top: 0.2rem;
                            }
                        }
                    }
                }
            }

        }

        .indoor__panel--btn {
            width: 100%;

            .i-sidebar-button {
                text-align: center;
                width: 100%;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;

                .i-sidebar-icon-container {
                    .icon-svg {
                        width: 1.2rem;
                        height: 1.2rem;
                        color: #fff;
                    }

                    .i-sidebar-button-caption {
                        color: #fff;
                        max-width: calc(4.5rem - 10px);
                        font-size: 0.694rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-top: 10px;
                    }
                }

                &:focus {
                    background-color: #056398;
                    opacity: 1;
                    outline: 2px solid -webkit-focus-ring-color !important;
                    outline-offset: -2px;
                    position: relative;
                    z-index: auto;
                }

                &:hover {
                    cursor: pointer;

                    .icon-svg {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}